/* GENERAL */
* {
    margin:0;
    padding:0;
}

html {
    scroll-behaviour: smooth;
}

body {
    font-family: 'Open Sans' , sans-serif;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
}

h2:not(:first-of-type), h3, h4 {
    font-family: 'Bitter', serif;
}



/* HEADER */

body > header {
    background-color:#D52A54;
    position:fixed;
    height:8vh;
    width:100Vw;
    margin:0;
    z-index:1000;
}

body > header > nav {
    margin-left:15vw;
    margin-top:2vh;
}

body > header > nav > ul > li  {
    display:inline-block;
}

nav > ul > li > a {
    text-decoration:none;
    color:white;
    margin-right:10vw;
}

/* MAIN */

main {
    width:100vw;
}

/* SECTION TITLE */

#title {
    background-image: url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/teacher.jpeg);
    background-size:cover;
    height:100vh;
}

#title > h1 {
    font-size:4em;
    color:white;
    position:relative;
    top: 40vh;
    left:10vw;
}

#title > h2 {
    font-size:2.5em;
    color:white;
    position:relative;
    left:10vw;
    top: 43vh;
}

span {
    color:#D52A54;
}

/* SECTION ABOUT */

#about {
    display:block;
    height:100vh;
}

#about > h2 {
    text-align:center;
    font-size:2.5em;
    text-transform:uppercase;
    margin-top:8vh;
}

#about p {
    width:35vw;
    height:25vh;
}

#about p:first-of-type {
    position: absolute;
    top: 133vh;
    left: 15vw;
}

#about p:nth-of-type(2) {
    position:absolute;
    left:15vw;
    top:160vh;
}


#about p:nth-of-type(3) {
    position:absolute;
    top:133vh;
    left:55vw;
}

#about p:last-of-type {
    position:absolute;
    left:55vw;
    top:160vh;
}

/* SECTION COURS */

#cours {
    background-color:#0B6CCD;
    height:100vh;
}

#cours > h2 {
    color:white;
    text-align:center;
    text-transform:uppercase;
    font-size:2.5em;
    padding:6vh 0;
}

#cours article {
    background-color: white;
    width: 22vw;
    height: 40vh;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #18191B;
    position: absolute;
    top: 230vh;
}

#cours article > header {
    text-align:center;
    text-transform:uppercase;
    width:100%;
    padding:4vh 0;
    color:white;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

#cours article > header > h3 {
    display:block;
    font-size:1.1em;
    font-weight:bold;
}

#cours article p {
    padding:1em
}

/* FIRST ARTICLE #COURS */
#cours article:first-of-type {
    left:9vw;
}

#cours article:first-of-type header {
    background-image:url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/code.jpeg);
}


/* SECOND ARTICLE #COURS */

#cours article:nth-of-type(2) {
    left:39vw;
}

#cours article:nth-of-type(2) header {
    background-image:url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/design.jpeg);
}

/* THIRD ARTICLE #COURS */

#cours article:last-of-type {
    left:69vw;
}

#cours article:last-of-type header {
    background-image:url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/management.jpeg);
}


/* SECTION AGENDA */

#agenda {
    height:100vh;
}

#agenda > h2 {
    text-align:center;
    text-transform:uppercase;
    font-size:2.5em;
    padding:6vh 0;
}

#agenda article {
    background-color: white;
    width: 20%;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 30%);
    border: 1px solid #1e5d62;
    display:inline-block;
    text-align:center;
}

#agenda article > header {
    height: 15vh;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    background-image:url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/agenda.png);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}

#agenda article > header > h3 {
    padding-top: 15vh;
}

#agenda article > section {
    padding:6vh 0;
}

#agenda article > section h4 {
    font-weight: 300;
    color: #1e5d62;
    margin-bottom: 4vh;
    padding:0 2vw 0 2vw;
}


/* FIRST ARTICLE #AGENDA */


#agenda > article:first-of-type {
    margin:0 1vw 0 6vw;
}

/* SECOND ARTICLE #AGENDA */

#agenda > article:nth-of-type(2) {
    margin:0 1vw 0 1vw;
}

/*THIRD ARTICLE #AGENDA */

#agenda > article:nth-of-type(3) {
    margin:0 1vw 0 1vw;
}

/* LAST ARTICLE #AGENDA */

#agenda > article:last-of-type {
    margin:0 6vw 0 1vw;
}


/* SECTION CONTACT */

#contact {
    height:100vh;
    background-color:#326584;

}

#contact h2 {
    text-align:center;
    text-transform:uppercase;
    font-size:2.5em;
    padding:6vh 0;
    color:white;
}

#contact > section {
    display:inline-block;
    width:45%;
    padding-left:4vw;

}

/* SECTION CONTACTER */

#coordonnees {
    position:relative;
    top:-15vh;
}

#coordonnees h3 {
    padding:1vh 2vw 1vh 2vw;
    font-size:0.9em;
    color:white;
    text-transform:uppercase;
    font-weight:lighter;
}

#coordonnees h4 {
    padding:1vh 2vw 1vh 2vw;
    font-size 0.8em;
    color:white;
    font-weight:bold;
}
#contact p {
    padding: 1vh 2vw 1vh 2vw;
    font-size:0.8em;
    color:white;
}


/* SECTION FORM */

#form {
    border-left: 1px solid white ;
}

#form h3 {
    padding:1vh 2vw 1vh 2vw;
    font-size:0.9em;
    color:white;
    text-transform:uppercase;
    font-weight:lighter;
}

#form fieldset > * {
    display:block;
}

#form fieldset {
    border-style:none;
    padding-bottom:1vh;
}

#form label {
    color:white;
    font-size:0.8em;
    padding-bottom:1vh;
}

#form input {
    border-style:none;
    background-color:white;
}

#btn {
    width:10vw;
    height:4vh;
}